#navbar{
    width: 100%;
    height: 60px;
    margin-top: -15px; /*I still cant figure out why this is needed when body has 0 margin*/
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

#navbar ul{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    padding:0;
}

#web-logo{
    margin-left: 1em;
    width:30px;
    height:30px;
    padding-bottom: 10px;

    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

    user-select: none;
    
}